@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none; /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse; /*合并外边线*/
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

/**************************************/

/*顶部导航开始*/
.site-nav {
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}

.site-nav-send, .site-nav-r .fore {
    padding: 0 25px 0 10px;
    position: relative;
}

.site-nav-send:hover {
    background: white;
}

.site-nav-send i, .fore i {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 15px;
    height: 7px;
    font: 400 13px/15px "consolas";
    overflow: hidden;

}

.hide {
    display: none;
}

.dorpdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}

.dorpdown {
    position: relative;
    z-index: 21;
}

.mobile {
    position: relative;
    z-index: 21;
}

.mobile_static {
    position: absolute;
    left: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
    background: #F6F6F6;
}

.mobile_pop {
    display: none;
    position: absolute;
    left: auto;
    right: 0;
    top: 30px;
    width: 140px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-bottom: 3px solid #60575a;
}

.mobile_static_qrcode {
    margin: 4px auto;
    width: 60px;
    height: 60px;
    background: #F6F6F6 url("../image/shoujijd.png") 50% no-repeat;
}

.site-nav-send s, .fore s {
    position: absolute;
    top: -7px;
}

.site-nav-r li {
    padding: 0 10px;
    float: left;
}

.site-nav-r .line {
    width: 1px;
    height: 12px;
    margin-top: 9px;
    padding: 0;
    background: #DDD;
}

.site-nav-r .jd-tel {
    padding-left: 25px;
}

.jd-tel span {
    position: absolute;
    width: 15px;
    height: 20px;
    top: 5px;
    left: 6px;
    background: url("../image/tel.png") no-repeat;
}

/*顶部导航结束*/

/*顶部广告栏开始*/
.top-banner {
    background-color: #fd6500;
}

.tb {
    position: relative;
}

.close-banner {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url("../image/close-banner.png") no-repeat;
}

.close-banner:hover {
    background-position: bottom;
}

/*顶部广告栏结束*/

/*search 部分开始*/
.search-logo {
    float: left;
    width: 362px;
    height: 60px;
    padding: 20px 0;
}

.search-logo a {
    display: inline-block;
    width: 270px;
    height: 60px;
    text-indent: -9999px;
    background: url("../image/logo.png") no-repeat;
}

.search-input {
    float: left;
    width: 538px;
    padding-top: 25px;
    height: 36px;
}

.search-input input {
    float: left;
    width: 450px;
    height: 32px;
    border: 2px solid #b61d1d;
    padding-left: 4px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: rgb(153, 153, 153);
    line-height: 32px;
    border-right: 0;
}

.search-input button {
    float: left;
    width: 82px;
    height: 36px;
    background: #b61d1d;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    font-family: 微软雅黑;
    cursor: pointer;
}

.search-car {
    margin: 25px 60px 0 0;
    float: right;
    width: 96px;
    height: 34px;
    padding-left: 43px;
    position: relative;
    line-height: 34px;
    border: 1px solid #DFDFDF;
    background-color: #f9f9f9;
}

.icon1 {
    position: absolute;
    top: 8px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url("../image/tel.png") no-repeat 0 -58px;
}

.icon2 {
    position: absolute;
    right: 10px;
    color: #999;
    font: 13px/33px "SimSun";

}

.icon3 {
    position: absolute;
    top: -5px;
    width: 16px;
    height: 14px;
    background-color: #C81623;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}

.search-moreAlink {
    float: left;
    width: 538px;
    height: 28px;
    line-height: 28px;
}

.search-moreAlink a {
    float: left;
    margin-right: 8px;
}

/*search 部分结束*/

/*footer开始*/
.footer-top-slogen {
    width: 100%;
    height: 94px;
    position: relative;
    background: #f5f5f5;
    margin-bottom: 16px;
}

.footer-top-slogen-icon {
    position: absolute;
    top: 20px;
    left: 50%;
}

.footer-top-slogen-icon1 {
    margin-left: -604px;
}

.footer-top-slogen-icon3 {
    margin-left: -302px;
}

.footer-top-slogen-icon4 {
    margin-left: 302px;
}

.footer-top-shopping dl {
    float: left;
    width: 200px;
}

.footer-top-shopping dt, .coverage h3 {
    height: 34px;
    font: 400 16px/34px "Microsoft YaHei";
}

.footer-top-shopping dd {
    line-height: 20px;
}

.footer-top-shopping .last-dl {
    width: 100px;
}

.coverage {
    width: 186px;
    height: 169px;
    float: right;
    margin-right: 50px;
    padding-left: 17px;
    background: url("../image/china.png") no-repeat left bottom;
}

.coverage p {
    margin-top: 8px;
}

.coverage a {
    float: right;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0 30px;
    border-top: solid 1px #e5e5e5;
}

.footer-bottom-link a {
    margin: 0 10px;
}

.footer-bottom-copyright {
    margin: 10px 0;
}

.footer-bottom-img img {
    margin: 0 5px;
}

/*footer结束*/

/*shortcut-nav开始*/
.shortcut-nav {
    height: 44px;
    width: 100%;
    border-bottom: solid 2px #b1191a;
}

.shortcut-nav-menu {
    width: 210px;
    height: 44px;
    background: pink;
    float: left;
    position: relative;
    z-index: 1;
}

.shortcut-nav-items {
    width: 730px;
    height: 44px;
    float: left;
    /*background: blue;*/
}

.shortcut-nav-items li {
    float: left;
}

.shortcut-nav-items a {
    display: inline-block;
    height: 44px;
    padding: 0 20px;
    color: #333;
    font: 400 16px/44px "Microsoft YaHei";

}

.shortcut-nav-img {
    width: 200px;
    height: 44px;
    margin-right: 50px;
    margin-top: -10px;
    background: yellow;
    float: right;
}

.shortcut-nav-menu-all a {
    display: inline-block;
    width: 190px;
    height: 44px;
    color: #fff;
    background: #b1191a;
    font: 400 15px/44px "Microsoft YaHei";
    padding: 0 10px;
}

.shortcut-nav-menu-one {
    height: 466px;
    margin-top: 1px;
    background: #C81623;
    border-left: 1px solid #b1191a;
    border-bottom: 1px solid #b1191a;
}

.shortcut-nav-menu-one div {
    height: 31px;
    padding: 0 10px;
    color: #ffffff;
    font: 400 14px/31px "Microsoft YaHei";
}

.shortcut-nav-menu-one div:hover {
    background: white;
}

.shortcut-nav-menu-one div:hover a {
    color: #C81623;
}

.shortcut-nav-menu-one h3 {
    float: left;
}

.shortcut-nav-menu-one i {
    float: right;
    font: 400 9px/31px "consolas";
}

.shortcut-nav-menu-one a {
    color: #ffffff;
}

/*shortcut-nav结束*/